
src/MonumentMlyn.DAL/obj/project.nuget.cache
*.cache
src/MonumentMlyn.DAL/obj/project.nuget.cache
src/MonumentMlyn.DAL/obj/project.assets.json
src/MonumentMlyn.DAL/obj/MonumentMlyn.DAL.csproj.nuget.dgspec.json
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.csproj.AssemblyReference.cache
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.assets.cache
src/MonumentMlyn.BLL/obj/project.nuget.cache
src/MonumentMlyn.BLL/obj/project.assets.json
src/MonumentMlyn.BLL/obj/MonumentMlyn.BLL.csproj.nuget.dgspec.json
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.csproj.AssemblyReference.cache
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.assets.cache
.vs/MonumentMlyn/config/applicationhost.config
