
src/MonumentMlyn.DAL/obj/project.nuget.cache
*.cache
src/MonumentMlyn.DAL/obj/project.nuget.cache
src/MonumentMlyn.DAL/obj/project.assets.json
src/MonumentMlyn.DAL/obj/MonumentMlyn.DAL.csproj.nuget.dgspec.json
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.csproj.AssemblyReference.cache
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.assets.cache
src/MonumentMlyn.BLL/obj/project.nuget.cache
src/MonumentMlyn.BLL/obj/project.assets.json
src/MonumentMlyn.BLL/obj/MonumentMlyn.BLL.csproj.nuget.dgspec.json
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.csproj.AssemblyReference.cache
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.assets.cache
.vs/MonumentMlyn/config/applicationhost.config
.vs/MonumentMlyn/DesignTimeBuild/.dtbcache.v2
.vs/MonumentMlyn/v16/.suo
src/MonumentMlyn.BLL/bin/Debug/net5.0/MonumentMlyn.BLL.dll
src/MonumentMlyn.BLL/bin/Debug/net5.0/MonumentMlyn.BLL.pdb
src/MonumentMlyn.BLL/bin/Debug/net5.0/MonumentMlyn.BLL.runtimeconfig.dev.json
src/MonumentMlyn.BLL/bin/Debug/net5.0/MonumentMlyn.DAL.dll
src/MonumentMlyn.BLL/bin/Debug/net5.0/MonumentMlyn.DAL.pdb
src/MonumentMlyn.BLL/bin/Release/net5.0/MonumentMlyn.BLL.dll
src/MonumentMlyn.BLL/bin/Release/net5.0/MonumentMlyn.BLL.pdb
src/MonumentMlyn.BLL/bin/Release/net5.0/MonumentMlyn.BLL.runtimeconfig.dev.json
src/MonumentMlyn.BLL/bin/Release/net5.0/MonumentMlyn.DAL.dll
src/MonumentMlyn.BLL/bin/Release/net5.0/MonumentMlyn.DAL.pdb
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.AssemblyInfo.cs
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.assets.cache
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.csproj.AssemblyReference.cache
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.csproj.CoreCompileInputs.cache
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.csproj.FileListAbsolute.txt
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.dll
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.GeneratedMSBuildEditorConfig.editorconfig
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.genruntimeconfig.cache
src/MonumentMlyn.BLL/obj/Debug/net5.0/MonumentMlyn.BLL.pdb
src/MonumentMlyn.BLL/obj/MonumentMlyn.BLL.csproj.nuget.dgspec.json
src/MonumentMlyn.BLL/obj/MonumentMlyn.BLL.csproj.nuget.g.props
src/MonumentMlyn.BLL/obj/project.assets.json
src/MonumentMlyn.BLL/obj/project.nuget.cache
src/MonumentMlyn.BLL/obj/Release/net5.0/MonumentMlyn.BLL.assets.cache
src/MonumentMlyn.BLL/obj/Release/net5.0/MonumentMlyn.BLL.csproj.FileListAbsolute.txt
src/MonumentMlyn.BLL/obj/Release/net5.0/MonumentMlyn.BLL.dll
src/MonumentMlyn.BLL/obj/Release/net5.0/MonumentMlyn.BLL.GeneratedMSBuildEditorConfig.editorconfig
src/MonumentMlyn.BLL/obj/Release/net5.0/MonumentMlyn.BLL.pdb
src/MonumentMlyn.DAL/bin/Debug/net5.0/MonumentMlyn.DAL.dll
src/MonumentMlyn.DAL/bin/Debug/net5.0/MonumentMlyn.DAL.pdb
src/MonumentMlyn.DAL/bin/Debug/net5.0/MonumentMlyn.DAL.runtimeconfig.dev.json
src/MonumentMlyn.DAL/bin/Debug/net5.0/ref/MonumentMlyn.DAL.dll
src/MonumentMlyn.DAL/bin/Release/net5.0/MonumentMlyn.DAL.dll
src/MonumentMlyn.DAL/bin/Release/net5.0/MonumentMlyn.DAL.pdb
src/MonumentMlyn.DAL/bin/Release/net5.0/MonumentMlyn.DAL.runtimeconfig.dev.json
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.AssemblyInfo.cs
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.assets.cache
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.csproj.AssemblyReference.cache
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.csproj.CoreCompileInputs.cache
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.csproj.FileListAbsolute.txt
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.dll
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.GeneratedMSBuildEditorConfig.editorconfig
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.genruntimeconfig.cache
src/MonumentMlyn.DAL/obj/Debug/net5.0/MonumentMlyn.DAL.pdb
src/MonumentMlyn.DAL/obj/Debug/net5.0/ref/MonumentMlyn.DAL.dll
src/MonumentMlyn.DAL/obj/MonumentMlyn.DAL.csproj.nuget.dgspec.json
src/MonumentMlyn.DAL/obj/MonumentMlyn.DAL.csproj.nuget.g.props
src/MonumentMlyn.DAL/obj/project.assets.json
src/MonumentMlyn.DAL/obj/project.nuget.cache
src/MonumentMlyn.DAL/obj/Release/net5.0/MonumentMlyn.DAL.AssemblyInfo.cs
src/MonumentMlyn.DAL/obj/Release/net5.0/MonumentMlyn.DAL.assets.cache
src/MonumentMlyn.DAL/obj/Release/net5.0/MonumentMlyn.DAL.csproj.FileListAbsolute.txt
src/MonumentMlyn.DAL/obj/Release/net5.0/MonumentMlyn.DAL.dll
src/MonumentMlyn.DAL/obj/Release/net5.0/MonumentMlyn.DAL.GeneratedMSBuildEditorConfig.editorconfig
src/MonumentMlyn.DAL/obj/Release/net5.0/MonumentMlyn.DAL.pdb
