.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px 0 10px 20px;
}
.blockAdd{
    border: 1px solid black;
    width: 350px;
    height: 250px;
    text-align: center;
}
.blockAdd img{
    width: 250px;
    height: 250px;
}
.blockAdd img{
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.blockAdd img:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}